In [306]:
import pandas as pd
import numpy as np
from itertools import chain
from sklearn.preprocessing import LabelEncoder,Imputer

In [307]:
df = pd.read_csv('./data/responses.csv')

In [308]:
df.head()

,Timestamp,Email Address,Name,Neighbourhood,Rating,Brands,Flavor,Packaging,Source,Type,Frequency,Price,Quality,Occasion,New_flavors
0,2/6/2018 19:12:51,NaN,Neha Baranwal,Thane,10,"Mother Dairy, Amul","Chocolate, Butterscotch",Cone,"Supermarkets, Ice cream parlour/ restaurants",Unit,Once a week,7.0,10.0,5,5.0
1,2/6/2018 19:17:21,NaN,Arvind Narayanan,Chembur,8,"Dinshaw’s, Amul, Kwality Walls","Chocolate, Vanilla, Butterscotch, Pistachio",Cone,"Ice cream parlour/ restaurants, Minimart",Unit,Once a month,7.0,8.0,10,4.0
2,2/6/2018 21:01:58,2015bhavika.adnani@ves.ac.in,Bhavika,Thane,8,"Baskin-Robbins, Amul, Kwality Walls","Chocolate, Vanilla, Coffee",Cone,"Ice cream parlour/ restaurants, Ice cream cart...",Unit,Once a month,1.0,10.0,8,6.0
3,2/6/2018 21:02:15,2015mayank.agrawal@ves.ac.in,Mayank Agrawal,Chembur,9,"Baskin-Robbins, Amul, Creambell","Chocolate, Butterscotch",Cone,Ice cream parlour/ restaurants,Unit,Once a month,2.0,10.0,9,4.0
4,2/6/2018 21:09:39,2015bhuvanesh.goplani@ves.ac.in,Bhuvanesh Goplani,Chembur,4,"Baskin-Robbins, Home made","Vanilla, Strawberry, Butterscotch",Tub,Ice cream parlour/ restaurants,Unit,Once a month,3.0,10.0,6,5.0

## Preprocessing

### Removing redundant columns

In [309]:
df.columns

Index(['Timestamp', 'Email Address', 'Name', 'Neighbourhood', 'Rating',
       'Brands', 'Flavor', 'Packaging', 'Source', 'Type', 'Frequency', 'Price',
       'Quality', 'Occasion', 'New_flavors'],
      dtype='object')

In [310]:
df = df.drop(['Timestamp', 'Email Address', 'Name', 'Type'], 1)

### Dealing with null values

In [311]:
df.isnull().sum()

Neighbourhood    6
Rating           0
Brands           1
Flavor           0
Packaging        0
Source           1
Frequency        1
Price            1
Quality          2
Occasion         0
New_flavors      1
dtype: int64

In [312]:
df.Neighbourhood[df.Neighbourhood.isnull()] = 'NaN'

/home/arvindo/.local/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [313]:
df.Neighbourhood = df.Neighbourhood.str.lower().str.strip()
df.Neighbourhood

0               thane
1             chembur
2               thane
3             chembur
4             chembur
5          ulhasnagar
6             chembur
7          ulhasnagar
8             chembur
9          ulhasnagar
10            chembur
11            chembur
12            chembur
13    vikholri,mumbai
14         ulhasnagar
15              thane
16             kalyan
17         kanjurmarg
18            chembur
19         ulhasnagar
20            chembur
21            chembur
22                nan
23             kalyan
24              dadar
25         ulhasnagar
26         california
27         vile parle
28           dombivli
29          ghatkopar
30            chembur
31          ghatkopar
32         ulhasnagar
33        lower parel
34              thane
35            govandi
36                nan
37              kurla
38              thane
39              thane
40            chembur
41              nerul
42            chembur
43              thane
44              thane
45             kalyan
46                nan
47                nan
48                nan
49              thane
50             panvel
51           dombivli
52            chembur
53           asangaon
54                nan
55         ulhasnagar
56              thane
57         ulhasnagar
Name: Neighbourhood, dtype: object

In [314]:
le = LabelEncoder()

In [315]:
df[df.Neighbourhood == 'nan']

,Neighbourhood,Rating,Brands,Flavor,Packaging,Source,Frequency,Price,Quality,Occasion,New_flavors
22,nan,8,"Baskin-Robbins, Mother Dairy, Amul, Vadilal","Chocolate, Coffee, Mint",Cone,NaN,Once a week,8.0,10.0,10,10.0
36,nan,8,"Baskin-Robbins, Mother Dairy, Dinshaw’s, Havmo...","Chocolate, Butterscotch, Coffee, Pistachio",Cone,"Supermarkets, Ice cream parlour/ restaurants, ...",3-4 times a week,8.0,9.0,8,9.0
46,nan,9,Amul,"Chocolate, Butterscotch",Cone,Ice cream parlour/ restaurants,Once a week,5.0,10.0,5,5.0
47,nan,8,"Dinshaw’s, Amul","Chocolate, Butterscotch",Cone,Ice cream parlour/ restaurants,Once a month,5.0,8.0,3,5.0
48,nan,6,Baskin-Robbins,"Chocolate, Vanilla, Strawberry, Butterscotch, ...",Cone,Convenience Stores,Once a month,10.0,10.0,10,10.0
54,nan,10,"Baskin-Robbins, Amul, Vadilal","Chocolate, Coffee, Pistachio",Cone,Ice cream parlour/ restaurants,3-4 times a week,1.0,10.0,5,5.0

In [316]:
df.Neighbourhood = le.fit_transform(df.Neighbourhood.values)

In [317]:
df.Neighbourhood[df.Neighbourhood == 11] = np.nan

/home/arvindo/.local/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [318]:
df.Neighbourhood

0     14.0
1      2.0
2     14.0
3      2.0
4      2.0
5     15.0
6      2.0
7     15.0
8      2.0
9     15.0
10     2.0
11     2.0
12     2.0
13    16.0
14    15.0
15    14.0
16     7.0
17     8.0
18     2.0
19    15.0
20     2.0
21     2.0
22     NaN
23     7.0
24     3.0
25    15.0
26     1.0
27    17.0
28     4.0
29     5.0
30     2.0
31     5.0
32    15.0
33    10.0
34    14.0
35     6.0
36     NaN
37     9.0
38    14.0
39    14.0
40     2.0
41    12.0
42     2.0
43    14.0
44    14.0
45     7.0
46     NaN
47     NaN
48     NaN
49    14.0
50    13.0
51     4.0
52     2.0
53     0.0
54     NaN
55    15.0
56    14.0
57    15.0
Name: Neighbourhood, dtype: float64

In [319]:
def removeMissingVals(col):
    imp = Imputer(missing_values='NaN', strategy='most_frequent', axis=0)
    df[col]=imp.fit_transform(df[[col]])

removeMissingVals("Neighbourhood")
removeMissingVals("Price")
removeMissingVals("Quality")

df[['Neighbourhood','Price','Quality']].isnull().sum()

Neighbourhood    0
Price            0
Quality          0
dtype: int64

### Splitting multivalued attribues

In [320]:
def fetchOneHotColumns(df, column):
    type_columns = [type_.split(", ") if type(type_) != float else [] for type_ in df[column]]
    types = list(set(chain.from_iterable(type_columns)))
    typeDict = {}
    for type_ in types:
        typeDict[type_] = []
    for type_set in type_columns:
        for type_ in typeDict:
            if type_ in type_set:
                typeDict[type_].append(1)
            else:
                typeDict[type_].append(0)
    df_types = pd.DataFrame(typeDict)
    if 'any brand ' in df_types.columns:
        df_types = df_types.drop('any brand ', axis=1)
    return types, df_types

In [321]:
multivaluedCols = ['Brands', 'Flavor', 'Source']
multivaluedColDict = {}
for col in multivaluedCols:
    types, df_types = fetchOneHotColumns(df, col)
    multivaluedColDict[col] = types
    df = df.join(df_types).drop(col, axis=1)

In [322]:
df.head()

,Neighbourhood,Rating,Packaging,Frequency,Price,Quality,Occasion,New_flavors,Amul,Baskin-Robbins,...,Strawberry,Vanilla,mango,sabudaana,Convenience Stores,Grocery store,Ice cream cart/ vehicle,Ice cream parlour/ restaurants,Minimart,Supermarkets
0,14.0,10,Cone,Once a week,7.0,10.0,5,5.0,1,0,...,0,0,0,0,0,0,0,1,0,1
1,2.0,8,Cone,Once a month,7.0,8.0,10,4.0,1,0,...,0,1,0,0,0,0,0,1,1,0
2,14.0,8,Cone,Once a month,1.0,10.0,8,6.0,1,1,...,0,1,0,0,0,0,1,1,0,0
3,2.0,9,Cone,Once a month,2.0,10.0,9,4.0,1,1,...,0,0,0,0,0,0,0,1,0,0
4,2.0,4,Tub,Once a month,3.0,10.0,6,5.0,0,1,...,1,1,0,0,0,0,0,1,0,0

### Label encoding and one hot encoding

## Visualization

### Location wise distribution of flavors and brands

### Area wise dominating factor

### Brand vs like-scale mapping

### Source vs Location

### Brand vs Flavor

### Rating vs (Price, Quality, Occasion and )

## Prediction